
@{
    ViewBag.Title = "ForgetPassword";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container-fluid container-center">
    <form>
        <div class="form-group col-xs-offset-4">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="Email" />
        </div>
        <button type="submit" class="btn btn-primary col-xs-offset-4">submit</button>
    </form>
</div>

