
@{
    ViewBag.Title = "About";
}

<body>
    <div id="wrap">
        <div id="content1">
            <h3>Welcome!</h3>
           
        </div>
        <div id="content2">
            <h3>About the Designer</h3>
           
            <h3>About this Design</h3>
            <p>
            </p>
        </div>
    </div>
</body>

